# We will need numpy for several reasons:
#  - it provides the random number generators
#  - it provides efficient arrays as backends of vector-based search spaces
numpy >= 1.20.2

# numba provides JIT compilers useful making vector/numpy operations efficient
numba >= 0.53.1

# matplotlib is used to create plots in the evaluation procedures
matplotlib >= 3.4.1
